<h1>Edit: <%= @event.name %></h1>

<fieldset>
<form action="/meetups/meetup/<%= @event.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="<%= @event.name %>" required>

  <label for="description">Description: </label>
  <input type="text" name="description" id="description" value="<%= @event.description %>" required>

  <label for="location">Location: </label>
  <input type="text" name="location" id="location" value="<%= @event.location %>" required>


  <input type="submit" value="Submit">

</form>
</fieldset>

<a href="/meetups">Home</a>
</br>
<br>
<a href="/meetups/new">New</a>
